<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="main.css" />
    <title>LXY</title>
  </head>
  <body>
    <main>
      <header>
        <h1>LXY</h1>
        <nav>
          <a href="index.html">01</a>
          <a href="two.html">02</a>
          <a href="three.html">03</a>
        </nav>
      </header>
      <section>
        <div id="block-1">0001</div>
        <div id="block-2">0002</div>
        <div id="block-3">0003</div>
      </section>
      <footer>
        <p>2025 &copy; ETSPx</p>
        <p>All Rights Reserved</p>
        <ul>
          <li>
            <a href="https://www.facebook.com/ETSPx">
              <img src="https://img.icons8.com/color/48/000000/facebook-new.png" alt="facebook" />
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/etspx/">
              <img src="https://img.icons8.com/color/48/000000/instagram-new.png" alt="instagram" />
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UC1Q9k6k-a6-0l2-p-3-4-5">
              <img src="https://img.icons8.com/color/48/000000/youtube-play.png" alt="youtube" />
            </a>
          </li>
        </ul>
      </footer>
    </main>
  </body>
</html>
