body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  color: #333;
}

canvas#canvas {
  display: block;
  margin: 0 auto;
  background-color: #fff;
}

video#webcam {
  margin: 0 auto;
  border: 1rem solid pink;
  transform: scaleX(-1);
}
