body {
  margin: 0;
  background-color: #ddd;
}

main {
  display: flex;
  flex-direction: column;
  background-color: #ffa;
  height: 100vh;
  place-items: center;
}

main header {
  background-color: #aff;
  height: 10vh;
  width: 100vw;
}

main section {
  background-color: #faf;
  flex-grow: 1;
  width: 100vw;
}

main footer {
  background-color: #afa;
  height: 10vh;
  width: 100vw;
}
