<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="main.css" />
        <title>PLACE DIRECT</title>
    </head>
    <body>
        <main class="container">
            <header>
                <h1>Importers of Handmade Decorative furniture and Objects d&DiacriticalAcute;art</h1>
            </header>
            <section class="blocks">
                <div>one</div>
                <div>two</div>
                <div>three</div>
                <div>four</div>
                <div>five</div>
                <div>six</div>
                <div>seven</div>
                <div>eight</div>
                <div>nine</div>
            </section>
            <footer>
                <h2>Domestic and corporate Interiors &bullet; Projects &bullet; Hotels</h2>
            </footer>
        </main>
    </body>
</html>
