<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="main.css" />
        <title>EDGARS</title>
    </head>
    <body>
        <div id="container">
            <div class="row top">
                <div class="col">top1:bg</div>
                <div class="col">
                    <h1>STONE<br />HARBOUR</h1>
                </div>
            </div>
            <div class="row middle">
                <div class="col">
                    <div>
                        <h2>Now this is summer living</h2>
                        <p>Embrace the versatility of summer with our new arrivals from stone harbour.</p>
                        <p>From light weight sheeting to be made to shots.</p>
                        <p>Find your seasonal staples at Edgards and embrace the ultimate combination of style and comfort.</p>
                    </div>
                </div>
                <div class="col">
                    <div></div>
                </div>
            </div>
            <div class="row bottom">
                <div class="col"></div>
                <div class="col"><img src="images/logo.png" alt="Edgards Logo" width="20%" /></div>
            </div>
        </div>
    </body>
</html>
