body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

main {
    background-color: rgb(143, 143, 255);
    position: relative;
    display: grid;
    grid-template-columns: 1fr, 2fr;
    height: 100vh;
}

header {
    position: fixed;
    right: 0;
    font-size: 1rem;
    top: 0;
}

header p {
    position: relative;
    width: 150px;
    height: 150px;
}

header p span {
    display: block;
    width: 50px;
    aspect-ratio: 1;
    background-color: black;
    position: absolute;
    color: white;
    display: grid;
    place-items: center;
    top: 0;
    left: 0;
}

header div nav {
    display: flex;
    flex-direction: column;
}

header div ul {
    list-style: none;
    margin: 1rem 0;
    font-size: 0.7rem;
    padding: 0.8rem 0;
    border-top: 1px solid pink;
    border-bottom: 1px solid pink;
    color: #777;
}

header p span.b {
    background-color: pink;
    position: relative;
    border-radius: 100%;
}
/* ----- som */

header p {
    .a {
        left: 100px;
        animation: a-line 3s ease-in-out infinite;
        z-index: 50;
    }
    .b {
        top: 50px;
        animation: b-line 3s ease-in-out infinite;
        z-index: 100;
    }
}

@keyframes a-line {
    0% {
        top: 0px;
        left: 0px;
        z-index: 50;
    }

    50% {
        top: 100px;
        left: 100px;
        transform: scale(0.8);
    }

    100% {
        top: 0px;
        left: 0px;
        z-index: 200;
    }
}

@keyframes b-line {
    0% {
        top: 50px;
        left: 0;
    }

    25% {
    }

    50% {
        top: 50px;
        left: 100px;
        transform: scale(0.8);
    }

    100% {
        top: 50px;
        left: 0;
    }
}

/* ----- eom */

section#fotografs {
    max-width: calc(80% - 320px);
    margin: 0 auto;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
}

section#fotografs dl dt {
    background-color: #f0f0f0;
    padding: 1rem;
    position: sticky;
    font-weight: bold;
    font-size: 2rem;
    top: 0;
}

section#fotografs dl dt span {
    background-color: black;
    color: white;
    display: block;
    padding: 0.5rem;
}

section#fotografs dl dd {
    background-color: #f0f0f0;
    color: black;
    margin: 0;
    padding: 1rem;
    margin-bottom: 0.5rem;
}

section#fotografs dl dd img {
    display: block;
}
