<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="main.css" />
    <title>LXT</title>
  </head>
  <body>
    <main>
      <div id="top">top</div>
      <div id="bottom">
        <div id="left">
          <div id="bottom-top">
            <div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis ipsa minima itaque quidem harum molestiae eius ipsam. Atque minus quas
              dignissimos quis provident! Unde!
            </div>
            <div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste ipsum molestiae commodi reiciendis sint dignissimos! Quasi, officia? Incidunt
              debitis dolorum tempora tempore sed iste.
            </div>
          </div>
          <div id="bottom-bottom">bottom bottom</div>
        </div>
        <div id="right">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis maxime deleniti, dolorum accusantium cupiditate quaerat odio reiciendis, doloribus,
            adipisci iste qui! Non, numquam explicabo? Architecto quidem suscipit iusto doloremque ex minima nisi officiis, exercitationem numquam doloribus
            quam ullam tempore nesciunt impedit quo harum ipsam natus praesentium et deleniti?
          </p>
        </div>
      </div>
    </main>
  </body>
</html>
