body {
    background-color: #f0f0f0;
    color: #666;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
}

#app {
    width: 35vw;
    margin: 0 auto;
    background-color: #fff;
    padding: 2.5rem;
    margin-top: 5rem;
    border-radius: 0.5rem;
}

#app header h1 {
    margin: 0;
}

#app header {
    margin-bottom: 1.25rem;
}

#currency {
    background-color: #f0f0f0;
    border-radius: 0.5rem;
    padding: 1.25rem;
}
form {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
}
form select {
    font-size: 2rem;
}

form input {
    width: 100%;
    font-size: 2rem;
}
