body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100dvh;
}

.ball {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(194, 225, 21);
    border-radius: 50%;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
}

.square {
    position: absolute;
    width: 100px;
    aspect-ratio: 1/1;
    background-color: rgb(255, 0, 208);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
}

div {
    transition: all 0.5s;
}
