body {
  background-color: rgb(255, 255, 255);
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 1.6s ease;
}
body.dark {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}

main {
  height: 100vh;
  display: grid;
  place-items: center;
}

main ol {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

main ol li button {
  appearance: none;
  background: none;
  border: none;
  transition: opacity 0.8s ease-in-out;
}

main ol li button:hover {
  cursor: pointer;
  opacity: 0.5;
}
main ol li button.lightness {
  display: none;
}

body.dark main ol li button.lightness {
  display: block;
}

body.dark main ol li button.darkness {
  display: none;
}
