body {
    margin: 0;
    background-color: #f0f0f0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    color: #333;
}
main {
    position: relative;
}
main header {
    background-color: #8ff;
    height: 1rem;
    width: 100%;
    scale: 0.1 1;
    z-index: 1000;
    transform-origin: left;
    animation: scroll-indicator linear;
    animation-timeline: scroll(y);
    position: fixed;
    top: 0;
}

@keyframes scroll-indicator {
    to {
        scale: 1 1;
    }
}
main section {
    margin-top: 1rem;
}
main section div {
    width: calc(100vw - 2rem);
    height: 100vw;
    font-weight: bold;
    padding: 1rem;
}

main section div img {
    object-fit: cover;
    object-position: bottom;
    width: 100%;
    height: 100%;
}
@media (prefers-reduced-motion: no-preference) {
    main section div img {
        scale: 0.95;
        opacity: 0.2;
        animation: fade-in linear forwards;
        /* animation-timeline: view(66% 33%); */
        animation-timeline: view();
        animation-range: contain 100px;
        /* animation-range-start: contain;
        animation-range-end: contain; */
    }

    @keyframes fade-in {
        to {
            opacity: 1;
            scale: 1;
        }
    }
}
main section div:first-child {
    background-color: #f8f;
}
main section div:nth-child(2n) {
    background-color: #ff8;
}
main section div:nth-child(2n + 1) {
    background-color: #8f8;
}
