body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  color: #333;
}

main {
  min-width: 50vw;
  max-width: 70vw;
  background-color: #fff;
  padding: 1rem;
  margin: 4rem auto 0 auto;
}
main p#video-loading {
  padding: 0.5rem;
  svg {
    animation: pulse 1s infinite;
  }
}

@keyframes pulse {
  0%,
  100% {
  }
  50% {
    transform: rotate(260deg);
    fill: #ff0000;
  }
}

div#player {
  background-color: #f0f0f0;
  min-height: 315px;
  margin-bottom: 1rem;
  iframe {
    aspect-ratio: 560/315;
  }
}
ol#video-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0;
  li {
    margin: 0;
    padding: 0;
    a {
      display: block;
      img {
        filter: grayscale(100%);
        transition: all 1s ease;
      }
      &:hover {
        img {
          filter: grayscale(0%);
        }
      }
    }
  }
}
